 .main-body {
     padding: 15px;
 }


 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: rgb(91 91 91 / 50%) !important;
     background-clip: border-box;
     border: 0 solid rgba(0, 0, 0, .125);
     border-radius: .25rem;
     color: white
 }

 .card-body {
     flex: 1 1 auto;
     min-height: 1px;
     padding: 1rem;
 }

 .gutters-sm {
     margin-right: -8px;
     margin-left: -8px;
 }

 .gutters-sm>.col,
 .gutters-sm>[class*=col-] {
     padding-right: 8px;
     padding-left: 8px;
 }

 .mb-3,
 .my-3 {
     margin-bottom: 1rem !important;
     margin-right: 1rem !important;
 }

 .bg-gray-300 {
     background-color: #e2e8f0;
 }

 .h-100 {
     height: 100% !important;
 }

 .shadow-none {
     box-shadow: none !important;
 }

 .pro {
     margin-top: 30px;
 }

 .pro .card {
     max-width: 350px;
     height: 215px;
     margin-right: 10px;
     padding: 20px 15px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
     transition: 0.3s ease-in-out;

 }

 .pro .card:hover {
     height: 450px;

 }

 .pro .card .imgContainer {
     position: relative;
     width: 250px;
     height: 250px;
     top: -50px;
     left: 35px;
     z-index: 1;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
 }

 .pro .card .imgContainer img {
     max-width: 100%;
     border-radius: 4px;
 }

 .pro .card .content {
     position: relative;
     margin-top: -140px;
     padding: 10px 15px;
     text-align: center;
     color: white;
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
     transition: 0.3s ease-in-out;
 }

 .pro .card:hover .content {
     visibility: visible;
     opacity: 1;
     margin-top: -40px;
     transition-delay: 0.3s;
 }

 @media (max-width: 330px) {
     .pro .card .imgContainer {
         left: -2px;
     }
 }