:root {
  --primary-text-light: white;
  --primary-text-dark: black;
  --primary-color-1: #0b0c0d; /* bg-main-color*/
  --primary-color-2: #1f1f1f; /* border-main-color*/
  --primary-color-3: #2f2f31; /* border-card-color*/

  --secondary-color-1: #1ed994; /* inactive-color*/
  --secondary-color-2: #7fbf1f; /* progress`-color*/
  --secondary-color-3: #a4f22e; /* btn-color*/
  --secondary-color-4: #f2f2f2; /* inactive-color*/
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-3);
  outline: 1px solid var(--primary-color-2);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color-1);
  outline: 1px solid var(--primary-color-2);
}

body {
  margin: 0;
  background-color: var(--primary-color-1);
  color: var(--primary-text-light);
}
